html{
    scroll-behavior:smooth;
}
.nav-items a:hover{
    color: rgb(224, 224, 224);
}
button:hover{
    color: rgb(221, 221, 221);
    background-color: transparent;
    transform: scale(1.07);
    transition: all 0.2s ease-in-out;
}
.btn-3 button:hover{
    border: 1px solid white;
    transform: none;
    transition: none;
}
p a{
    text-decoration: none;
}
.btn-4 button:hover{
    background: #000;
    border: none;
}
